.loadingModal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8) url('/assets/img/loading.gif') 50% 50% no-repeat;
}

body.loading .loadingModal {
  overflow: hidden;
}

body.loading .loadingModal {
  display: block;
}

.wrappingArrow {
  font-size: 20px;
  cursor: pointer;
}
